.slika{
	width : 100%;
	height : 100%
}

body{
	background-color : black
}

.divZuti{
	width : 100%;
	height : 0.3%;
	background-color : #ffff1a
}

.Naslov{
	font-family:Vedrana;
	font-size:450%;
	background-color:#ffff1a;
	position: absolute;
    top: 5%;
    right: 5%;
}

.Registration{
	font-family:Vedrana;
	font-size:150%;
    color: #ffff1a;
	background-color:transparent;
	position: absolute;
    top: 5%;
    left: 5%;
}

.Login{
	font-family:Vedrana;
	font-size:150%;
    color: #ffff1a;
	background-color:transparent;
	position: absolute;
    top: 5%;
    left: 20%;
}

.divMijenjam {
    
    height: 70%;
    width: 45%;
    background-color: #ffff1a;
    opacity: 0.7;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.slikaTaxi{
	width: 15%;
	height: 5%;
	position: absolute;
    top: 25%;
    right: 5%;
}

.tabela{

}

.pocetniP {
    font-family:Verdana;
    font-size:450%;
}

.logUser {
    font-family: Vedrana;
    font-size: 150%;
    color: #ffff1a;
    background-color: transparent;
    position: absolute;
    top: 5%;
    left: 25%;
}

.Service {
    font-family: Vedrana;
    font-size: 150%;
    color: #ffff1a;
    background-color: transparent;
    position: absolute;
    top: 5%;
    left: 30%;
}

.Sort {
    font-family: Vedrana;
    font-size: 150%;
    color: #ffff1a;
    background-color: transparent;
    position: absolute;
    top: 5%;
    left: 40%;
}

.Search {
    font-family: Vedrana;
    font-size: 150%;
    color: #ffff1a;
    background-color: transparent;
    position: absolute;
    top: 5%;
    left: 50%;
}

.divULinku {
    font-family: Vedrana;
    font-size: 100%;
    color: black;
    background-color: white;
    opacity:0.7; 
    position: absolute;
    top: 10%;
    left: 30%;
}

.divULinku2 {
    font-family: Vedrana;
    font-size: 100%;
    color: black;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    top: 10%;
    left: 40%;
}

.divULinku3{
    font-family: Vedrana;
    font-size: 100%;
    color: black;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    top: 10%;
    left: 50%;
}

::-webkit-input-placeholder { /* Chrome */
    color: red;
    transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
    opacity: 0.5;
}

:-ms-input-placeholder { /* IE 10+ */
    color: red;
}

::-moz-placeholder { /* Firefox 19+ */
    color: red;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: red;
    opacity: 1;
}
